In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('6176ee09-3d56-4a3b-8115-21841576b2f6.csv', usecols=['statename','pincode','regionname'])
df.head()

   pincode   regionname                  statename
0   744112  Calcutta HQ  ANDAMAN & NICOBAR ISLANDS
1   744102  Calcutta HQ  ANDAMAN & NICOBAR ISLANDS
2   744102  Calcutta HQ  ANDAMAN & NICOBAR ISLANDS
3   744101  Calcutta HQ  ANDAMAN & NICOBAR ISLANDS
4   744103  Calcutta HQ  ANDAMAN & NICOBAR ISLANDS

In [3]:
df.shape

(155570, 3)

In [4]:
df['statename'].value_counts()

UTTAR PRADESH                17712
MAHARASHTRA                  12628
TAMIL NADU                   11875
ANDHRA PRADESH               10493
RAJASTHAN                    10333
KARNATAKA                     9689
BIHAR                         9114
GUJARAT                       8917
WEST BENGAL                   8819
MADHYA PRADESH                8324
ODISHA                        8224
TELANGANA                     5838
KERALA                        5059
ASSAM                         4023
PUNJAB                        3818
JHARKHAND                     3275
CHATTISGARH                   3170
HIMACHAL PRADESH              2791
UTTARAKHAND                   2729
HARYANA                       2698
JAMMU & KASHMIR               1731
MANIPUR                        712
TRIPURA                        712
DELHI                          562
MEGHALAYA                      501
MIZORAM                        402
NAGALAND                       330
ARUNACHAL PRADESH              302
GOA                            257
SIKKIM                         210
ANDAMAN & NICOBAR ISLANDS      102
PONDICHERRY                     95
CHANDIGARH                      56
DADRA & NAGAR HAVELI            39
DAMAN & DIU                     20
LAKSHADWEEP                     10
Name: statename, dtype: int64

In [5]:
bihar_df = df[df['statename'] == 'BIHAR']

In [6]:
bihar_df

       pincode regionname statename
14920   854334  BhagalPur     BIHAR
14921   854334  BhagalPur     BIHAR
14922   854334  BhagalPur     BIHAR
14923   854334  BhagalPur     BIHAR
14924   854334  BhagalPur     BIHAR
...        ...        ...       ...
24029   801109   Patna HQ     BIHAR
24030   801109   Patna HQ     BIHAR
24031   801109   Patna HQ     BIHAR
24032   801109   Patna HQ     BIHAR
24033   801109   Patna HQ     BIHAR

[9114 rows x 3 columns]

In [7]:
bihar_df['regionname'].value_counts()

BhagalPur      3568
Muzaffarpur    3198
Patna HQ       2348
Name: regionname, dtype: int64